{% extends 'base.html.twig' %}

{% block title 'Tous les Pins' %}

{% block body %}
    <h1>{{ pluralize(pins|length, 'Pin') }}</h1>

    {% if pins  and pins is not null %}
        {% for pin in pins %}
            <article>
                <h1>{{ pin.title }}</h1>
               <p> {{ pin.description }}</p>
            </article>
        {% endfor %}
    {% endif %}
{% endblock %}
